{% extends "base.jinja2" %}

{% block content %}
<h1>Registration</h1>

<form 
    id="registration-form" 
    method="POST" 
    action="{{request.route_url('auth')}}">
    
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <input type="text" name="username" placeholder="username">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name"submit" value="Sign-Up">
</form>

<h1>Sign-In</h1>
<form
    id="signin-form"
    method="GET"
    action="{{request.route_url('auth')}}">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <input type="text" name="username">
    <input type="password" name="password" placeholder="password" pattern="[0-9]{8}">
    <input type="submit" name="submit" value="Sign-In">
</form>

{% endblock content %}