<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stock Portfolio</title>

  <header>
    <nav>
      <ul>
        <li><a href="{{request.route_url('index')}}">Home</a></li>
        <li><a href="{{request.route_url('auth')}}">Login/Register</a></li>
        <li><a href="{{request.route_url('portfolio')}}">Portfolio</a></li>
        <li><a href="{{request.route_url('stock')}}">Add Stock</a></li>
      </ul>
    </nav>
  </header>
  <main>

    {% block content %}
    <p>No content</p>
    {% endblock content %}

  </main>
</body>
</html>

