{% extends "base.jinja2" %}

{% block content %}
<h1>Your Portfolio</h1>

<ul>
  {% for entry in entries %}
  <li>
    <h2>{{entry.companyName}}</h2>
    <h3>({{entry.symbol}}) {{entry.website}}</h3>
    <p>
      <h5><a href="{{ request.route_url('portfolio_symbol', symbol=entry.symbol) }}">{{ entry.companyName }}</a></h5>
    </p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}