<!DOCTYPE html>
{% extends "base.jinja2" %}


<h1>Please enter your stock purchases</h1>
{% block content %}
<form action="{{request.route_url('stock')}}" method="GET" id=" search">
    <input type="text" name="symbol" placeholder="MSFT">
    <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
    <button type="submit">Search</button>
</form>

{% if company %}
<form class="add_form" method="POST">
        <section class="symbol">
          <h2>{{company.companyName}}</h2>
          <p>{{company.exchange}}</p>
          <h2>{{company.industry}}</h2>
          <h2>{{company.website}}</h2>
          <p>{{company.description}}</p>
          <p>{{company.CEO}}</p>
          <h2>{{company.issueType}}</h2>
          <p>{{company.sector}}</p>
      </section>
      <input type="submit" value="Add to Portfolio">
      <input type="hidden" value={{company.symbol}} name="symbol">
      <input type="hidden" name="csrf_token" value="{{request.session.get_csrf_token()}}">
      </form>

    {% endif %}
    {% endblock content %}