{% extends "base.jinja2" %}

{% block content %}
{% if entries %}
<ul id="stock detail">
    <li id="volume">Name of Company: {{stock.companyName}}</h2>
    <li id="price">Symbol: {{stock.symbol}}</li>
    <li id="closing">CEO: {{stock.CEO}}</li>
    <li id="change">Website: {{stock.website}}</li>
    <li id="opening price">Industry: {{stock.industry}}</li>
    <li id="closing price">Sector: {{stock.sector}}</li>
    <li id="closing price">Exchange: {{stock.exchange}}</li>
    <li id="closing price">Issue Type: {{stock.issueType}}</li>
    <li id="closing price">Description: {{stock.description}}</li>
</ul>
{% endblock content %}
